body{
    background-color: $primaryBackground2;
    color: $textColor;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

a{
    color: $textColor;
    text-decoration: none;
}
h2{
    font-size: 2rem;
    text-align: center;
}
