$primaryBackground: #0D0D0D;
$primaryBackground2:#242B2E;
$primaryBackground3: #504f4f;
$textColor: #ffff;
$lightText: #fffe;
$gradientColor1: #d0ff00;
$gradientColor2: #800080;


@mixin gradientBorder() {
    &::before{
        content: " ";
        position: absolute;
        top: -1%;
        left: -1%;
        height: 102%;
        width: 102%;
        background: linear-gradient(275deg, $gradientColor1 , $gradientColor2);
        border-radius: 20px;
        z-index: -1;
    }
}
body{
    background-color: $primaryBackground2;
    color: $textColor;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

a{
    color: $textColor;
    text-decoration: none;
    
}
h2{
    text-align: center;
}

.heading{
    font-size: 2rem;
    text-align: center;
    grid-column: 1/-1;
}
.l-grid-container{
    display: grid;
    min-height: 400px;
    max-width: 1360px;
    margin: 0 auto;
    grid-gap: 10px;
    row-gap: 30px;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.c-character-card{
    $self: &;
    position: relative;
    width: 80%;
    max-width: 280px;
    min-height: 320px;
    max-height: 400px;
    height: fit-content;
    border-radius: 20px;
    background-color: $primaryBackground;
    transition: transform 0.1s ease-in-out;
    @include gradientBorder();
    #{$self}__link{
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        border: inherit;
        border-radius: inherit;
    }
    #{$self}__h2{
        color: $textColor;
        padding: 1rem;
        margin: 0;
    }
    &:hover{
        transform: scale(1.05);
    }
    .c-image-container{
        width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto 10px auto;
    background-color: $primaryBackground3;
    }
}
.c-image-container{
    $self: &;
    #{$self}__img{
        display: block;
        width: 100%;
        min-height: 200px;
        height: auto;
        border-radius: 20px;
    }
}
.p-character-template{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    .c-image-container{
        position: relative;
    top: 0;
    min-width: 250px;
    min-height: 220px;
    height: fit-content;
    width: fit-content;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 10px 2px $primaryBackground3;   
    }
}
.l-flex-container{
    $self: &;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0 auto;
    #{$self}__heading,#{$self}__des{
        flex: 1;
        font-size: 1.5rem;
        margin: 0;
    }
    #{$self}__heading{
    }
    #{$self}__des{
        padding-left: 1rem;
    }
}

.navbar{
    $self: &;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem 5px 2rem 5px;
    margin: 0 auto;
    font-size: 1rem;
    #{$self}__form{
        min-width: 250px;
        flex: 1;
    }
    #{$self}__search{
        display: block;
        width: 100%;
        padding: 0.85rem;
        margin: 0 auto;
        background-color: $primaryBackground3;
        color: $textColor;
        outline: 1px solid $primaryBackground ;
        border: none;
        border-radius: 0.5rem;
    }
    @media screen and(min-width:720px) {
        &{
            max-width: 1380px;
        }
    }
}
.links{
    $self: &;
    display: flex;
    justify-content: space-around;
    max-width: 750px;
    margin: 0 auto;
    padding: 2rem 1rem;
    #{$self}__pages{
        margin: 0;
        cursor:default;
    }
    .btn:first-child::before{
        content: "<< ";
        
    }
    .btn:last-child::after{
        content: " >>";
        
    }
}

.btn{
    border: none;
    outline: none;
    color: $textColor;
    padding: 0.75rem 1.25rem;
    border-radius: 10px;
}
.btn__reset{
    background-color: $primaryBackground;
}
.btn__link{
    background: none;
}
.btn__hover--effect:hover{
    color: $gradientColor1;
}
.btn__link__disabled{
    color: $primaryBackground3;
    cursor: not-allowed;
}
.filter-box{
    $self: &;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
    gap: 20px;
    #{$self}__filter{
        min-width: 150px;
        padding: 0.5rem;
        background-color: $primaryBackground2;
        color: $textColor;
        border-radius: 10px;
    }
}
.p-not-found-page{
    $self: &;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #{$self}__404{
        font-size: 24rem;
        margin: 0;
        padding: 0;
        color: $textColor;
    }
    #{$self}__error{
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
        color: $textColor;
        #{$self}__error__back{
            font-size: 1.5rem;
            color: $gradientColor1;
        }
        #{$self}__error__back::before{
            content: "<< ";
        }
    }
}